@model E_ticaret.Models.Urunler

@{
    ViewBag.Title = "Ürün Düzenle";
}

<h2>Düzenle</h2>

<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ürünler</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UrunID)

            <div class="form-group">
                @Html.LabelFor(model => model.UrunAdi, "Ürün Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UrunAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UrunAciklamasi, "Ürün Açıklaması", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UrunAciklamasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UrunAciklamasi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UrunFiyati, "Ürün Fiyatı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UrunFiyati, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UrunFiyati, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RefKatID, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RefKatID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RefKatID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Ürün Resim</label>
                <div class="col-md-10">
                    <input type="file" id="urunresim" name="urunresim" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-secondary" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/IMG/@(Model.UrunID+".jpg")" alt="@Model.UrunAdi" width="200" height="200" id="img" />
        </div>
    }
</div>
<div>
    @Html.ActionLink("Ürünlere geri dön", "Index")
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#UrunResim").change(function () {
            var dosya = document.getElementById("UrunResim");
            if (dosya.files && dosya.files[0]) {
                var veoku = new FileReader();
                veoku.onload = function () {
                    var adres = veoku.result;
                    $('#img').attr('src', adres);
                }
                veoku.readAsDataURL(dosya.files[0]); //veri okuma
            }
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
